* {
    font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .title {
    font-family: 'Inter', sans-serif !important;
    font-weight: 700 !important;
    letter-spacing: -.035em !important;
}