<div class="column-header">
    <div class="mx-3">
        <h3 class="pt-5" id="current-note">Note</h3>
        <p id="current-note-modified" class="text-muted"></p>
        <div class="d-flex flex-row w-100">
            <a id="go-to-notes" role="button" class="btn d-lg-none"><i class="ri-arrow-left-s-line"></i></a>
            <a id="edit-note" role="button" class="btn btn-primary flex-grow-1">Rename <i class="ri-edit-line"></i></a>
            <a id="delete-note" role="button" class="btn btn-danger"><i class="ri-delete-bin-line"></i></a>
            <a href="#" id="not-saved" class="btn btn-danger mb-0 d-none">
                <i class="ri-cloud-off-line"></i>
            </a>
            <a href="#" id="saved" class="btn btn-success mb-0 d-inline-flex">
                <i class="ri-cloud-line"></i>
            </a>
        </div>
    </div>
</div>
<div class="row m-0 d-none" id="toolbar">
    <div class="col toolbar-button border-right unselectable" data-action="bold" unselectable>
        <i class="ri-bold"></i>
    </div>
    <div class="col toolbar-button border-right unselectable" data-action="italic" unselectable>
        <i class="ri-italic"></i>
    </div>
    <div class="col toolbar-button border-right unselectable" data-action="underline" unselectable>
        <i class="ri-underline"></i>
    </div>
    <div class="col toolbar-button border-right unselectable" data-action="strikethrough" unselectable>
        <i class="ri-strikethrough"></i>
    </div>
    <div class="col toolbar-button border-right unselectable" data-action="append-h1" unselectable>
        <i class="ri-h-1"></i>
    </div>
    <div class="col toolbar-button border-right unselectable" data-action="append-h2" unselectable>
        <i class="ri-h-2"></i>
    </div>
    <div class="col toolbar-button border-right unselectable" data-action="append-h3" unselectable>
        <i class="ri-h-3"></i>
    </div>
    <div class="col toolbar-button border-right unselectable" data-action="insertunorderedlist" unselectable>
        <i class="ri-list-unordered"></i>
    </div>
    <div class="col toolbar-button border-right unselectable" data-action="insertorderedlist" unselectable>
        <i class="ri-list-ordered"></i>
    </div>
    <div class="col toolbar-button border-right unselectable" data-action="justifyLeft" unselectable>
        <i class="ri-align-left"></i>
    </div>
    <div class="col toolbar-button border-right unselectable" data-action="justifyCenter" unselectable>
        <i class="ri-align-center"></i>
    </div>
    <div class="col toolbar-button border-right unselectable" data-action="justifyRight" unselectable>
        <i class="ri-align-right"></i>
    </div>
    <div class="col toolbar-button border-right unselectable" data-action="justifyFull" unselectable>
        <i class="ri-align-justify"></i>
    </div>
</div>
<div class="editable px-3 mr-3 pt-3 flex-grow-1 overflow-auto border-top d-none" contenteditable="true" id="target">
</div>