<div class="editable row" id="toolbar">
    <div class="toolbar-button border-right unselectable" data-action="bold" unselectable>
        <i class="material-icons">format_bold</i>
    </div>
    <div class="toolbar-button border-right unselectable" data-action="italic" unselectable>
        <i class="material-icons">format_italic</i>
    </div>
    <div class="toolbar-button border-right unselectable" data-action="underline" unselectable>
        <i class="material-icons">format_underline</i>
    </div>
    <div class="toolbar-button border-right unselectable" data-action="strikethrough" unselectable>
        <i class="material-icons">format_strikethrough</i>
    </div>
    <div class="toolbar-button border-right unselectable" data-action="append-h1" unselectable>
        H1
    </div>
    <div class="toolbar-button border-right unselectable" data-action="append-h2" unselectable>
        H2
    </div>
    <div class="toolbar-button border-right unselectable" data-action="append-h3" unselectable>
        H3
    </div>
    <div class="toolbar-button border-right unselectable" data-action="insertunorderedlist" unselectable>
        <i class="material-icons">format_list_bulleted</i>
    </div>
    <div class="toolbar-button border-right unselectable" data-action="insertorderedlist" unselectable>
        <i class="material-icons">format_list_numbered</i>
    </div>
    <div class="toolbar-button border-right unselectable" data-action="justifyCenter" unselectable>
        <i class="material-icons">format_align_center</i>
    </div>
    <div class="toolbar-button border-right unselectable" data-action="justifyFull" unselectable>
        <i class="material-icons">format_align_justify</i>
    </div>
    <div class="toolbar-button border-right unselectable" data-action="justifyLeft" unselectable>
        <i class="material-icons">format_align_left</i>
    </div>
    <div class="toolbar-button border-right unselectable" data-action="justifyRight" unselectable>
        <i class="material-icons">format_align_right</i>
    </div>
</div>