<div class="d-flex flex-column justify-content-center align-items-center min-vh-100">
    <h2>Verify your email</h2>
    <p>
        To continue using this service, you must verify your email address.
        Click on the button below to send an email.
    </p>

    <p>
        Once you've clicked on the link on your email, you'll never need to
        do this again!
    </p>

    <div class="alert alert-danger" role="alert" id="email-error">
        Send email error here
    </div>

    <p class="text-muted" id="email-info"></p>

    <div>
        <a href="#" id="send-email-verification" class="btn btn-success">
            Send email
        </a>
        <a href="#" id="logout-email-verification" class="btn btn-danger">
            Logout
        </a>
    </div>

</div>