<li class="list-group-item list-group-item-action list-group-item-borderless subject--action" data-id="{id}">
    <div class="d-flex w-100 justify-content-between align-items-center">
        <div class="flex-grow-1">
            <h5 class="mb-1">{name}</h5>
            <p class="mb-1">{note_count} notes</p>
        </div>
        <button class="btn text-danger d-lg-none delete-this" role="button" data-id="{id}"><i class="ri-delete-bin-line"></i></button>
        <i class="ri-arrow-right-s-line d-lg-none"></i>
    </div>
</li>