<div class="d-flex flex-column justify-content-center align-items-center min-vh-100 p-3">
    <img src="/logo512.png" alt="" width="95px">

    <h1 class="pt-3">Welcome to Horai!</h1>
    <p>
        This is Horai, the new note-taking and (soon-to-be) planner application.
    </p>

    <h6>Please note</h6>
    <ul>
        <li>
            This code is all open-source. Find it <a href="https://github.com/starsflower/horai">here</a>.
        </li>
        <li>
            Logout may not work. Clear cookies for this page to logout if it fails.
        </li>
        <li>
            You can not yet modify your name/password. This will come soon.
        </li>
        <li>
            This is currently the <span class="badge badge-pill bg-primary">BETA</span> version, so
            expect bugs and issues.
        </li>
    </ul>

    <a id="continue" class="btn btn-primary" href="#" role="button">Get started</a>
    <br>
    <small class="text-center">
        *By continuing, you accept the storage of cookies on your device.
        <br>
        These cookies only track
        whether or not you have continued through this screen, and your login.
        <br>
        Your login is valid, by default, for a month &mdash; then you must sign in again.
    </small>
</div>